@import "fab";

[contenteditable] {
  border: 1px dashed black;
  transition: .1s ease-out;

  &:hover {
    background: rgba(114, 173, 191, .05);
  }

  &:active,
  &:focus {
    background: rgba(114, 173, 191, .1);
    outline: none;
  }
}
